@font-face {
  font-family: "IBM";
  src: url('../../../../public/fonts/IBMPlexSansKR-Light.woff');
}

@font-face {
  font-family: "SoraMedium";
  src: url('../../../../public/fonts/Sora-Medium.woff');
}

.header {
  width: 70vw;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 100;
  margin-left: 10vw;
  position: absolute;
  left: 11vw;
}

.title {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
}

.searching {
  margin-left: 8vw;
}

