@font-face {
  font-family: "IBM";
  src: url('../../../../public/fonts/IBMPlexSansKR-Light.woff');
}

@font-face {
  font-family: "SoraMedium";
  src: url('../../../../public/fonts/Sora-Medium.woff');
}

.header {
  position: absolute;
  left: 670px;
  width: 660px;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 100;
  /* margin-left: 16vw; */
}

.title {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
}

.searching {
  margin-left: 100px;
}

