@font-face {
  font-family: "IBM";
  src: url('../../../../public/fonts/IBMPlexSansKR-Light.woff');
}

@font-face {
  font-family: "SoraMedium";
  src: url('../../../../public/fonts/Sora-Medium.woff');
}

.header {
  width: 1080px;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items: center;
  z-index: 100;
  margin-left: 150px;
  position: absolute;
  left: 13%;
}

.title {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}

.title h3 {
  white-space: nowrap;
  margin: 0 10px 0 10px;
}

.title img {
  cursor: pointer;
  margin: 0 10px 0 10px;
}

