
.background {
  position: relative;
  width: 130%;

}

.background .divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.background .divider svg {
  position: relative;
  display: block; 
  width: calc(134% + 1.3px);
  height: 96px;
}

.background .divider .shapeFill {
  fill: #FFFFFF;
}

