.main {
  font-size: 12px;
}

.layout {
  display: flex;
}

.children {
  position: absolute;
  left: 200px;
}

@font-face {
  font-family: "IBM";
  src: url('../../public/fonts/IBMPlexSansKR-Light.woff');
}