.searchText {
  width: 180px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 45px;
  background-color: transparent;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.searchText:hover {
  transform : translate(0%, -7%);
  /* background-color: #2EE59D; */
}

.searchText:focus{
  background-color: transparent;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: text;
}

/* 검색 결과 */
.section {
  position: absolute;
  overflow: auto;
  top: 100%;
  right: 10%;
  border-radius: 9px;
  width: 500px;
  height: 250px;
}

.header {
  background-color: #14181a;
  color:#BFFF00;
  padding: 6px 0 0 10px ;
  height: 12%;
}

.searchedLists {
  color: rgb(126, 163, 205);
  text-decoration: none;
  padding-left: 10px;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: rgb(126, 163, 205);
  text-decoration: none;
}

.searchedList {
  list-style-type: none;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
}

.subContainer {
  display: flex;
  flex-direction: row ; /* 텍스트 요소를 세로로 배치 */
}

.title {
  font-size: 14px;
  margin: 15px 0 5px 0;
}

.subtitle {
  font-size: 11px;
  margin-top: 2px;
}

.image {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 8px;
}
