.searchText {
  width: 180px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 45px;
  background-color: transparent;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.searchText:hover {
  transform : translate(0%, -7%);
  /* background-color: #2EE59D; */
}

.searchText:focus{
  background-color: transparent;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: text;
}