.container{
  position: absolute;
  top: 10%;
  left: 280px;
  height: 90%;
  color: black;
  width: 1130px;
}

.container .title {
  padding: 50px 0 30px 0;
  text-align: center;
  display: block;
}

.container .title span {
  /* border-top: 1px solid #057b69; */
  border-bottom: 1px solid #057b69;
  display: inline-block;
  padding : 20px 5px 20px 0;
  width: 200px;
}

/* 게시물 없을 때 */
.notice {
  position: absolute;
  left: 210px;
  bottom: 10px;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noticeComment {
  font-size: 30px;
  display: block;
  font-family: "PretendardRegular", sans-serif;
}

@font-face {
  font-family: "PretendardRegular";
  src: url('../../../../public/fonts/pretendard-regular.woff2');
}

/* Pagination */
.pagination {
  width: 500px;
  left: 370px;
  position: absolute;
  margin-top: 5vh;
}